{% extends "base.html" %}

{% block content %}
<div class="container">
  <img class="niggas" src="static/img/nigga.png" alt="Вас белые рыси">
  <div class="centered-text">ВАС ЕБУТ ->> БЕЛЫЕ РЫСИ</div>
  <div class="bottom-right-text">профессиональная киберспортивная команда</div>
  <a class="podchurka" href="#">read more</a>

  <div class="whitefon">
      <div class="photo-grid">
        <div class="team">
          <div class="team_box"></div>
          <h1 class="team_title">Team</h1>
        </div>
      <div class="sub-photos top-row">
        <div class="sub-photo">
          <img src="static/img/men.png" alt="Вас белые рыси">
          <div class="caption">
            <h3>хаишев ака Nanohruk</h3>
            <button class="steam-button">read more</button>
          </div>
        </div>
        <div class="sub-photo">
          <img src="static/img/men.png" alt="Вас белые рыси">
          <div class="caption">
            <h3>никита ака сила сибири</h3>
            <button class="steam-button">read more</button>
          </div>
        </div>
        <div class="sub-photo">
          <img src="static/img/men.png" alt="Вас белые рыси">
          <div class="caption">
            <h3>ваня ака уебан</h3>
            <button class="steam-button">read more</button>
          </div>
        </div>
      </div>
      <div class="sub-photos bottom-row">
        <div class="sub-photo">
          <img src="static/img/men.png" alt="Вас белые рыси">
          <div class="caption">
            <h3>аня ака beketosic</h3>
            <button class="steam-button">read more</button>
          </div>
        </div>
        <div class="sub-photo">
          <img src="static/img/men.png" alt="Вас белые рыси">
          <div class="caption">
            <h3>альберт ака альберт</h3>
            <button class="steam-button">read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="achives">
    <img class='suka' src="static/img/mount.png" alt="бля бро ну с этим уже стыдно лажать">
    <div class="overlay">
      <div class="achi">
        <p>Наши достижения можно перечислять долго, потому что каждый работает на команду</p>
      </div>
    </div>
  </div>

  <div class="mainachives">
    <img src="static/img/naebka.png" alt="бля бро ну с этим уже стыдно лажать">
    <a class="custom-btn" href="#">история создания</a>
  </div>

</div>
{% endblock %}